<h1>Hello, I'm William Mena and I'm a Software Engineer</h1>

<div class="quick-contact-info">
  <p>Lets work together</p>
  <%= mail_to "williammena1991@gmail.com" %>
  <br>
  <%= link_to "https://github.com/WilliamMena" %>
  <br>
  <%= link_to "https://www.linkedin.com/in/williammena/" %>
</div>
