<div id="first-view">
  <div class="row">
    <h1 class="main-line col">
      Hello, I&#39;m <font class="highlight">William Mena</font>
      <br>
      and I am a Software Engineer
    </h1>
  </div>
  <div class="row">
    <div class="quick-contact-info col">
      <p>Lets work together: <%= mail_to "williammena1991@gmail.com" %></p>
      <%= link_to image_tag(asset_path("github-512-GRAY"), width: "6%"), "https://github.com/WilliamMena", {:class => "logo"} %>
      <%= link_to image_tag(asset_path("linkedin-GRAY.png"), width: "6%"), "https://www.linkedin.com/in/williammena/", {:class => "logo"} %>
    </div>
  </div>
</div>

<div id="my-background">
  <div class="row col">
    <h2>BACKGROUND</h2>
  </div>
  <div class="row">
    <div class="one-sixth col">
    </div>
    <div class="three-fourths col">
      <p>
        I’m a <a href="http://www.buffalo.edu/">University at Buffalo</a> graduate with a Media Study Degree. I’ve also graduated from <a href="https://flatironschool.com/">Flatiron School</a> where we concentrated on Full Stack Web Development using Ruby on Rails and React/Redux. Following graduation I’ve earned a <a href="https://www.udacity.com/grow-with-google">Grow with Google Android Basics Nanodegree scholarship</a> learning Java for Android Development.
      </p>
      <p>
        My background primarily consist of working in Post Production. My most recent job is as an Assistant Editor/Media Manager/Animator for <a href="https://www.worldsciencefestival.com/">The World Science Foundation.</a> Before that I was freelancing at <a href="https://www.kornhaberbrown.com/">Kornhaber Brown</a> as an Assistant Editor contributing in many ways including rotoscoping footage to editing.
      </p>
    </div>
  </div>
</div>


<div id="my-skills">
  <div class="row col">
    <h2>SKILLS</h2>
  </div>
  <div class="row">
    <div class="one-sixth col skill-headers">
      <h4>Software Engineer</h4>
    </div>
    <div class="one-sixth col mobile-one-half">
      <ul>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Redux</li>
        <li>Sinatra</li>
        <li>SQL</li>
      </ul>
    </div>

    <div class="one-sixth col mobile-one-half">
      <ul>
        <li>Java for Android</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Git & Github</li>
        <li>Postman</li>
      </ul>
    </div>
    <div class="one-sixth col skill-headers">
      <h4>Post Production</h4>
    </div>
    <div class="one-third col">
      <ul>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Premiere</li>
        <li>After Effects</li>
      </ul>
    </div>
  </div>
</div>

<div id="my-projects">
  <div class="row col">
    <h2>MY PROJECTS</h2>
  </div>

  <%= render "layouts/slideshow" %>

  <div class="row project">
    <div class="one-sixth col">
      <h3>Script Splitter</h3>
      <a href="https://youtu.be/WS0wsVj7NLg">Video</a>
      <br>
      <a href="https://youtu.be/WS0wsVj7NLg" target="_blank">Walkthrough</a>
      <br>
      <a href="http://williammena.github.io/script_splitter_-_a_bit_more_in_depth_-_future_implementations" target="_blank">Blog</a>

    </div>
    <div class="five-sixths col">
      <i>Web App that splits your video script into appropriately sized subtitles.</i>
      <ul>
        <li class="project-li">
          Developed Rails 5 API to hold all scripts and the rest of the backend data.
        </li>
        <li class="project-li">
          Implemented React/Redux for fast creating and updating of each script/subtitle
        </li>
        <li class="project-li">
          Formed a Preview of your script/subtitles on the homepage before saving to the user profile.
        </li>
        <li class="project-li">
          Soon to have: Ability to export an XML of your captions for easy importing into your favorite Video Editing software.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>Pipeline Stock App</h3>
      <a href="https://ttp-stock-app.herokuapp.com/">Live Link</a>
      <br>
      <a href="https://github.com/WilliamMena/TTP-FS20180728" target="_blank">Github Repo</a>
      <br>
    </div>
    <div class="five-sixths col">
      <i>Web App that lets you buy stocks at current market value.</i>
      <ul>
        <li class="project-li">
          Home page presents the users current portfolio value and each stocks daily performance.
        </li>
        <li class="project-li">
          Developed a cache to reduce the amount of API calls across all users. Limit to 1 call a minute per stock.
        </li>
        <li class="project-li">
          Fetches from the IEX API for current details on all stocks like market open to even the year.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>Sheridan Currency Converter</h3>
      <a href="https://sheridan-currency.herokuapp.com/">Live Link</a>
      <br>
      <a href="https://github.com/WilliamMena/sheridan_currency_rails" target="_blank">Github Repo</a>
      <br>
    </div>
    <div class="five-sixths col">
      <i>Web App that converts currency.</i>
      <ul>
        <li class="project-li">
          Simple front end page so you can quickly insert your amount, pick your conversion and get back the exchanged value.
        </li>
        <li class="project-li">
          Uses a simple cache to reduce the amount of API calls across all users. Limit to 1 call a minute per conversion.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>Warped Space Simulator</h3>
      <a href="http://williammena.github.io/city_of_science_scoreboard" target="_blank">Blog</a>
    </div>
    <div class="five-sixths col">
      <i>Scoreboard Application built for the World Science Festival. To help keep track of one of their exhibits</i>
      <ul>
        <li class="project-li">
          Rails 5 API for keeping track of all the scores
        </li>
        <li class="project-li">
          React Frontend for displaying the score of each player.
        </li>
        <li class="project-li">
          Redux for live updating across many screens.
        </li>
        <li class="project-li">
          Attracted many of it&#39;s demographic. Added to the excitement of the exhibit due to everyone wanting to participate to be placed on the scoreboard.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>Roommate Assistant</h3>
      <a href="https://github.com/WilliamMena/roommate_assistant" target="_blank">Github Repo</a>
      <br>
      <a href="http://williammena.github.io/2017/03/18/my_rails_project_roommate_assistant/" target="_blank">Blog</a>
    </div>
    <div class="five-sixths col">
      <i>Dedicated to helping you manage tasks with your roommates. One place for all your chores, tasks and shopping lists.</i>
      <ul>
        <li class="project-li">
          Built an API using Rails and AJAX to increase the speed of accessibility for all of the users.
        </li>
        <li class="project-li">
          Created friendships or connections between users using self referential associations, in the style of facebook friends.
        </li>
        <li class="project-li">
          Implemented SQLite with ActiveRecord to handle the projects backend.
        </li>
        <li class="project-li">
          Designed a property function, using Rails and AJAX, to allow users to assign chores within their household.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>BigThink Retention App</h3>
      <a href="https://github.com/WilliamMena/programming-challenge" target="_blank">Github Repo</a>
      <br>
    </div>
    <div class="five-sixths col">
      <i>An application that shows a videos retention rate.</i>
      <ul>
        <li class="project-li">
          Implemented Google Graphs to show the audience drop off points through out the span of the video.
        </li>
        <li class="project-li">
          Engineered mechanics to fill each inserted URL with dummy data to represent data that would appear from actual video API.
        </li>
        <li class="project-li">
          Useful for seeing how long people are actually watching each specific video.
        </li>
      </ul>
    </div>
  </div>

  <hr style="width:50%">

  <div class="row project">
    <div class="one-sixth col">
      <h3>has_many recipes</h3>
      <a href="https://github.com/WilliamMena/sinatra-assessment-has_many_recipes" target="_blank">Github Repo</a>
      <br>
      <a href="http://williammena.github.io/2016/11/03/oh_man_has_it_been_a_while_sinatra_assessment/" target="_blank">Blog</a>
    </div>
    <div class="five-sixths col">
      <i>Social Media website where you share and discover recipes with your friends.</i>
      <ul>
        <li class="project-li">
          Built a Sinatra application with a NokoGiri gem to scrape websites for their Recipe information.
        </li>
        <li class="project-li">
          Created a Twitter style relationship using self referential associations, where one user can follow another.
        </li>
        <li class="project-li">
          Bootstrapped page for simple page structuring and navigation.
        </li>
        <li class="project-li">
          Upgraded the user data security using the Bcrypt Gem.
        </li>
      </ul>
    </div>
  </div>
</div>
