<div class="first-view">
  <div class="row">
    <h1 class="main-line col">
      Hello, I'm <font class="highlight">William Mena</font>
      <br>
      and I am a Software Engineer
    </h1>
  </div>
  <div class="row">
    <div class="quick-contact-info col">
      <p>Lets work together: <%= mail_to "williammena1991@gmail.com" %></p>
      <%= link_to image_tag("github-512-GRAY", width: "6%"), "https://github.com/WilliamMena", {:class => "logo"} %>
      <%= link_to image_tag("linkedin-GRAY.png", width: "6%"), "https://www.linkedin.com/in/williammena/", {:class => "logo"} %>
    </div>
  </div>
</div>

<div class="my-background">
  <div class="row col">
    <h2>BACKGROUND</h2>
  </div>
  <div class="row">
    <div class="one-sixth col">
    </div>
    <div class="three-fourths col">
      <p>
        I’m a University at Buffalo graduate with a Media Study Degree. I’ve also graduated from Flatiron School where we concentrated on Full Stack Web Development using Ruby on Rails and React/Redux. Following graduation I’ve earned a Grow with Google Android Basics Nanodegree scholarship learning Java for Android Development.
      </p>
      <p>
        My background primarily consist of working in Post Production. My most recent job is as an Assistant Editor/Media Manager/Animator for The World Science Foundation. Before that I was freelancing at Kornhaber Brown as an Assistant Editor contributing in many ways including rotoscoping footage to editing.
      </p>
    </div>
  </div>
</div>


<div class="my-skills">
  <div class="row col">
    <h2>SKILLS</h2>
  </div>
  <div class="row">
    <div class="one-sixth col skill-headers">
      <h4>Software Engineer</h4>
    </div>
    <div class="one-sixth col mobile-one-half">
      <ul>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Redux</li>
        <li>Sinatra</li>
        <li>SQL</li>
      </ul>
    </div>

    <div class="one-sixth col mobile-one-half">
      <ul>
        <li>Java for Android</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Git & Github</li>
        <li>Postman</li>
      </ul>
    </div>
    <div class="one-sixth col skill-headers">
      <h4>Post Production</h4>
    </div>
    <div class="one-third col">
      <ul>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Premiere</li>
        <li>After Effects</li>
      </ul>
    </div>
  </div>
</div>

<div class="my-projects">
  <div class="row col">
    <h2>MY PROJECTS</h2>
  </div>
  <div class="row project">
    <div class="one-sixth col">
      <h3>Script Splitter</h3>
      <a href="https://youtu.be/WS0wsVj7NLg" target="_blank">Walkthrough</a>
      <br>
      <a href="http://williammena.github.io/script_splitter_-_a_bit_more_in_depth_-_future_implementations" target="_blank">Blog</a>

    </div>
    <div class="five-sixths col">
      <i>Web App that splits your video script into appropriately sized subtitles.</i>
      <ul>
        <li class="project-li">
          Developed Rails 5 API to hold all scripts and the rest of the backend data.
        </li>
        <li class="project-li">
          Implemented React/Redux for fast creating and updating of each script/subtitle
        </li>
        <li class="project-li">
          Formed a Preview of your script/subtitles on the homepage before saving to the user profile.
        </li>
        <li class="project-li">
          Soon to have: Ability to export an XML of your captions for easy importing into your favorite Video Editing software.
        </li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="one-sixth col">
      <h3>Roommate Assistant</h3>
      <a href="https://github.com/WilliamMena/roommate_assistant" target="_blank">Github Repo</a>
      <br>
      <a href="http://williammena.github.io/2017/03/18/my_rails_project_roommate_assistant/" target="_blank">Blog</a>
    </div>
    <div class="five-sixths col">
      <i>Dedicated to helping you manage tasks with your roommates. One place for all your chores, tasks and shopping lists.</i>
      <ul>
        <li class="project-li">
          Built an API using Rails and AJAX to increase the speed of accessibility for all of the users.
        </li>
        <li class="project-li">
          Created friendships or connections between users using self referential associations, in the style of facebook friends.
        </li>
        <li class="project-li">
          Implemented SQLite with ActiveRecord to handle the projects backend.
        </li>
        <li class="project-li">
          Designed a property function, using Rails and AJAX, to allow users to assign chores within their household.
        </li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="one-sixth col">
      <h3>has_many recipes</h3>
      <a href="https://github.com/WilliamMena/sinatra-assessment-has_many_recipes" target="_blank">Github Repo</a>
      <br>
      <a href="http://williammena.github.io/2016/11/03/oh_man_has_it_been_a_while_sinatra_assessment/" target="_blank">Blog</a>
    </div>
    <div class="five-sixths col">
      <i>Social Media website where you share and discover recipes with your friends.</i>
      <ul>
        <li class="project-li">
          Built a Sinatra application with a NokoGiri gem to scrape websites for their Recipe information.
        </li>
        <li class="project-li">
          Created a Twitter style relationship using self referential associations, where one user can follow another.
        </li>
        <li class="project-li">
          Bootstrapped page for simple page structuring and navigation.
        </li>
        <li class="project-li">
          Upgraded the user data security using the Bcrypt Gem.
        </li>
      </ul>
    </div>
  </div>
</div>
