// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient(#1F2833, #2a4c52);
}
:root {
  display: grid;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.3rem;
  color: #45A29E;
}

h5 {
  font-size: 1.15rem;
}

small {
  font-size: .75rem;
}
p, h1, li, i {
  color: #C5C6C7;
}

p, li {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  // border-left: 1px solid #66FCF1;
}

h2 {
  color: #66FCF1;
}

a {
  color: #66FCF1;
  // border: solid 2px black;
  text-decoration: none;
  transition: color 0.3s linear;

}

a:hover {
  color: #45A29E;
  text-decoration: underline;
}

li.project-li {
  padding: 0 0 2px 0;
  text-indent: -.7em;
}

li.project-li::before {
  content: "• ";
  color: #66FCF1; /* or whatever color you prefer */
}

a.project-link {
  font-size: .8rem;
}

.highlight {
  color: #66FCF1;
}

.first-view {
  height:80vh;
  margin-top: 20%;
  padding-bottom: 40px;
  text-align: center;
}

.quick-contact-info {
  text-align: center;
}

.skill-headers {
  align-self: start;
}


footer {

  padding-top: 3rem;
  text-align: center;
  a {
    padding: 1rem;
  }
}



@media screen and (max-width:1024px) {
  :root{
    padding: 0 2.5rem 0 2.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  .first-view {
    font-size: 2.5rem;
  }
}



@media screen and (max-width:768px) {
  h1 {
    font-size: 2.5rem;
  }

  .first-view {
    height:80vh;
    margin-top: 20%;
    padding: 50px;
    font-size: 1.4rem;
  }

  .main-line {
    padding: 0rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }

  .first-view {
    height:100vh;
    margin-top: 0%;
    padding-bottom: 40px;
    font-size: 1rem;
  }
  .main-line {
    padding: 0;
  }
}

@media screen and (orientation:landscape) {
  h1 {
    font-size: 3rem;
  }

  .first-view {
    font-size: 1.7rem;
  }
  :root {
    font-size: 16px;
  }
}
