<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsiteV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="https://drive.google.com/open?id=148EtbdertoNxKEa0d695ojVnaFhAIOCE30PEZmtOObs">Resume</a>

    <a href="https://github.com/WilliamMena">Github</a>

    <a href="https://www.linkedin.com/in/williammena/">Linkedin</a>

    <a href="mailto:https://www.linkedin.com/in/williammena/">Email</a>

  </footer>
</html>
