<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsiteV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="https://drive.google.com/file/d/1U1PPAdUlHsvJVKPssBATOAmhcod_IEGa/view?usp=sharing" target="_blank">Resume</a>

    <a href="https://github.com/WilliamMena" target="_blank">Github</a>

    <a href="https://www.linkedin.com/in/williammena/" target="_blank">Linkedin</a>

    <a href="mailto:https://www.linkedin.com/in/williammena/" target="_blank">Email</a>

    <a href="http://williammena.github.io/" target="_blank">Blog</a>


  </footer>
</html>
